@model IEnumerable<Domain.Entities.Movie>

@{
    ViewBag.Title = "Movies";
}

@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.Title</h3>
        <h4>@p.TitleEN</h4>
        @p.Description
    </div>
}

