@model WebUI.Models.MoviesListViewModel

@{
    ViewBag.Title = "Movies";
}


@*<div class="pageTitle col-md-12">
    <p class="pageTitleText">master movie</p>
</div>*@

<div id="categories">
    @{ Html.RenderAction("Menu", "Nav");}
</div>
<div id="content" class="container body-content">
    @foreach (var p in Model.Movies)
    {
        Html.RenderPartial("MovieSummary", p);
    }


</div>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentYearCategory }))
</div>  

<input type="button" id="rate" value="RATE" />   @*this should be removed*@ 

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/star-rating")