.Movie {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*height: 380px;*/
}

/*.MovieBlock {
    background-color: lightpink;
    border: 1px solid red;
}*/

.MovieBlock div:hover {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);*/
}

.ImgSet {
    /* float: left; */
}

.imgBlock {
    overflow: hidden;
    width: 100%;
    height: 320px;
}

.MovieTitleImg {
    max-width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.MovieInfo {
    text-transform: uppercase;
    background-color: #3984ef;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 15px 5px;
    margin: 0;
}

.MovieInfo p {
    padding:0px;
    margin: 0px;
}


.text-center {
    text-align: center;
}

.textStyle {
    color: white;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.RatingBlock {
    text-align: center;
}

.RatingBlock span {
    font-size: 13px;
}