.movie {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*height: 380px;*/
}

.movie2 {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    margin: 10px auto;
}


/*.MovieBlock {
    background-color: lightpink;
    border: 1px solid red;
}*/

.MovieBlock div:hover {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.4);*/
}

.ImgSet {
    /* float: left; */
}

.img-block {
    overflow: hidden;
    width: auto;
    height: 300px;
}

.movie-title-img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.movie-info {
    text-transform: uppercase;
    background-color: #3984ef;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    padding: 5px 15px 5px;
    margin: 0;
}

.movie-info p {
    padding:0px;
    margin: 0px;
}

.text-center {
    text-align: center;
}

.text-style {
    color: white;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rating-block {
    text-align: center;
}

.rating-block span {
    font-size: 13px;
}

.rating-block span:nth-child(odd) {
    margin-right: 10px;
}