body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;

}

#header .title, .item h3, .item h4, .pager a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
} 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#content{
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

#categories{
    float: left;
    width: 8em;
    padding: .3em;
}

.item{
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

.item:first-child{
    border-top: none;
    padding-top: 0;
}

.item h3{
    font-size: 1.3em;
    margin: 0 0 .25em 0;
}

.item h4{
    font-size: 1.1em;
    margin: .4em 0 0.25em 0;
}

.item p {
    font-size: 1.1em;
    font-family: Georgia, "Times New Roman";
}

.pager{
    text-align: center;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 5px;
}

.pager a{
    font-size: 1.1em;
    color: #666;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
}

.pager a:hover{
    background-color: silver;
}

.pager a.selected {
    background-color: #353535;
    color: white;
}

#categories a{
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial; 
    display: block;
    text-decoration: none;
    padding: .6em;
    color: black;
    border-bottom: 1px solid silver;
}

#categories a.selected{
    background-color: #666;
    color: white;
}

#categories a:hover{
    background-color: #ccc;
}

#categories a.selected:hover{
    background-color: #666;
}

.page-title{
    margin-top: 20px;
    /*background-color: cornflowerblue;*/
}

.page-title-text {
    background-color: #3984ef;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

.user-rating {
    /*text-transform: uppercase;*/
    background-color: orange;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.search-form {
    margin-left: 10px;
    margin-right: 10px;
}

.search-form input[type=text] {
   display: inline-block;
   width: 150px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
   padding: 5px 20px;
   border: 1px solid #b7b7b7;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   font: normal 16px/normal "Times New Roman", Times, serif;
   color: rgba(42,43,43,1);
   -o-text-overflow: clip;
   text-overflow: clip;
   background: rgba(226,226,226,1);
   webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
   box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
   text-shadow: 1px 1px 0 rgba(186,186,186,0.79);

}

.search-form input[type=submit] {
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}