@model Domain.Entities.Movie

@{
    ViewBag.Title = "Admin: Edit " + @Model.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Title</h1>
@using (Html.BeginForm("Edit", "Admin"))
{
    @Html.EditorForModel()
    <input type="submit" value="Save"/>
    @Html.ActionLink("Cancel and return to list", "Index")
}
